In [1]:
import pandas as pd
from BasicDataPrep_V1 import *

In [2]:
initialData = pd.read_csv('./RezSnapShot_2018_78111-1.csv', delimiter=';')

In [3]:
initialData.head(10)

  ArrivalDate_Weekday  Arrival_Month  LeadDays  channel_id  lang_id
0           SUNDAY                 2       104           1        1
1           MONDAY                 1        66          13        1
2           MONDAY                 1        42          13        1
3           MONDAY                 1        42          13        1
4           MONDAY                 1        39          13        1
5           WEDNESDAY              1        49          13        1
6           FRIDAY                 1        17          12        1
7           MONDAY                 1        13          13        1
8           WEDNESDAY              1        16          13        1
9           TUESDAY                1         7          13        1

In [4]:
histrocalDataFilePath = './RezSnapShot_2018_78111-1.csv'
categoricalAttributes = ['channel_id', 'lang_id']
keyStringForSeasonality = 'arrival'
conquerDataColumns = None
missingDataTolerance = 0.99
delimiter = ';'

In [5]:
dataAfter_1stProcessing, keyStringDateCol, keyStringWeekdayCol, keyStringMonthCol, defaultValues = \
            getData(histrocalDataFilePath, categoricalAttributes, keyStringForSeasonality,
                            conquerDataColumns, missingDataTolerance, delimiter=delimiter)

2019-12-23 23:47:24,875 - 4458071488 - INFO - All columns after feature engineering and before dropping any: ['arrival_month', 'lang_id', 'channel_id', 'arrivaldate_weekday', 'leaddays', 'arrivaldate_weekday_weekend', 'arrivaldate_weekday_midweek', 'arrivaldate_weekday_earlyweek']

In [6]:
dataAfter_1stProcessing.head(10)

,arrival_month,lang_id,channel_id,leaddays,arrivaldate_weekday_weekend,arrivaldate_weekday_midweek,arrivaldate_weekday_earlyweek
0,2,1,1,104,0,0,1
1,1,1,13,66,0,0,1
2,1,1,13,42,0,0,1
3,1,1,13,42,0,0,1
4,1,1,13,39,0,0,1
5,1,1,13,49,0,1,0
6,1,1,12,17,1,0,0
7,1,1,13,13,0,0,1
8,1,1,13,16,0,1,0
9,1,1,13,7,0,1,0

In [6]:
dataAfter_1stProcessing.head(10)

,leaddays,arrival_month,lang_id,channel_id,arrivaldate_weekday_weekend,arrivaldate_weekday_midweek,arrivaldate_weekday_earlyweek
0,104,2,1,1,0,0,1
1,66,1,1,13,0,0,1
2,42,1,1,13,0,0,1
3,42,1,1,13,0,0,1
4,39,1,1,13,0,0,1
5,49,1,1,13,0,1,0
6,17,1,1,12,1,0,0
7,13,1,1,13,0,0,1
8,16,1,1,13,0,1,0
9,7,1,1,13,0,1,0

In [7]:
othersGroup, dataAfter_2ndProcessing = getOthersGoup(dataAfter_1stProcessing, categoricalAttributes, 0.001)

In [8]:
dataAfter_2ndProcessing.head(10)

,leaddays,arrival_month,arrivaldate_weekday_weekend,arrivaldate_weekday_midweek,arrivaldate_weekday_earlyweek,channel_id_6,channel_id_7,channel_id_13,channel_id_1,channel_id_12,channel_id_others,lang_id_1,lang_id_3
0,104,2,0,0,1,0,0,0,1,0,0,1,0
1,66,1,0,0,1,0,0,1,0,0,0,1,0
2,42,1,0,0,1,0,0,1,0,0,0,1,0
3,42,1,0,0,1,0,0,1,0,0,0,1,0
4,39,1,0,0,1,0,0,1,0,0,0,1,0
5,49,1,0,1,0,0,0,1,0,0,0,1,0
6,17,1,1,0,0,0,0,0,0,1,0,1,0
7,13,1,0,0,1,0,0,1,0,0,0,1,0
8,16,1,0,1,0,0,0,1,0,0,0,1,0
9,7,1,0,1,0,0,0,1,0,0,0,1,0

## Including "arrivaldate_weekday" as a separate categorical variable

In [9]:
initialData.head(10)

  ArrivalDate_Weekday  Arrival_Month  LeadDays  channel_id  lang_id
0           SUNDAY                 2       104           1        1
1           MONDAY                 1        66          13        1
2           MONDAY                 1        42          13        1
3           MONDAY                 1        42          13        1
4           MONDAY                 1        39          13        1
5           WEDNESDAY              1        49          13        1
6           FRIDAY                 1        17          12        1
7           MONDAY                 1        13          13        1
8           WEDNESDAY              1        16          13        1
9           TUESDAY                1         7          13        1

In [10]:
histrocalDataFilePath = './RezSnapShot_2018_78111-1.csv'
categoricalAttributes = ['channel_id', 'lang_id', 'arrivaldate_weekday']
keyStringForSeasonality = 'arrival'
conquerDataColumns = None
missingDataTolerance = 0.99
delimiter = ';'

dataAfter_1stProcessing, keyStringDateCol, keyStringWeekdayCol, keyStringMonthCol, defaultValues = \
            getData(histrocalDataFilePath, categoricalAttributes, keyStringForSeasonality,
                            conquerDataColumns, missingDataTolerance, delimiter=delimiter)

2019-12-23 10:25:52,861 - 4605388224 - INFO - All columns after feature engineering and before dropping any: ['leaddays', 'arrival_month', 'arrivaldate_weekday', 'lang_id', 'channel_id', 'arrivaldate_weekday_weekend', 'arrivaldate_weekday_midweek', 'arrivaldate_weekday_earlyweek']

In [11]:
dataAfter_1stProcessing.head(10)

,leaddays,arrival_month,arrivaldate_weekday,lang_id,channel_id,arrivaldate_weekday_weekend,arrivaldate_weekday_midweek,arrivaldate_weekday_earlyweek
0,104,2,sunday,1,1,0,0,1
1,66,1,monday,1,13,0,0,1
2,42,1,monday,1,13,0,0,1
3,42,1,monday,1,13,0,0,1
4,39,1,monday,1,13,0,0,1
5,49,1,wednesday,1,13,0,1,0
6,17,1,friday,1,12,1,0,0
7,13,1,monday,1,13,0,0,1
8,16,1,wednesday,1,13,0,1,0
9,7,1,tuesday,1,13,0,1,0

In [12]:
othersGroup, dataAfter_2ndProcessing = getOthersGoup(dataAfter_1stProcessing, categoricalAttributes, 0.001)

In [13]:
dataAfter_2ndProcessing.head(10)

,leaddays,arrival_month,arrivaldate_weekday_weekend,arrivaldate_weekday_midweek,arrivaldate_weekday_earlyweek,channel_id_6,channel_id_7,channel_id_13,channel_id_1,channel_id_12,channel_id_others,lang_id_1,lang_id_3,arrivaldate_weekday_friday,arrivaldate_weekday_monday,arrivaldate_weekday_wednesday,arrivaldate_weekday_thursday,arrivaldate_weekday_saturday,arrivaldate_weekday_tuesday,arrivaldate_weekday_sunday
0,104,2,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1
1,66,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
2,42,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
3,42,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
4,39,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
5,49,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0
6,17,1,1,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0
7,13,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
8,16,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0
9,7,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0

In [14]:
othersGroup

{'channel_id': [3]}

## Including "arrival_month" as a separate categorical variable

In [15]:
initialData.head(10)

  ArrivalDate_Weekday  Arrival_Month  LeadDays  channel_id  lang_id
0           SUNDAY                 2       104           1        1
1           MONDAY                 1        66          13        1
2           MONDAY                 1        42          13        1
3           MONDAY                 1        42          13        1
4           MONDAY                 1        39          13        1
5           WEDNESDAY              1        49          13        1
6           FRIDAY                 1        17          12        1
7           MONDAY                 1        13          13        1
8           WEDNESDAY              1        16          13        1
9           TUESDAY                1         7          13        1

In [16]:
histrocalDataFilePath = './RezSnapShot_2018_78111-1.csv'
categoricalAttributes = ['channel_id', 'lang_id', 'arrivaldate_weekday', 'arrival_month']
keyStringForSeasonality = 'arrival'
conquerDataColumns = None
missingDataTolerance = 0.99
delimiter = ';'

dataAfter_1stProcessing, keyStringDateCol, keyStringWeekdayCol, keyStringMonthCol, defaultValues = \
            getData(histrocalDataFilePath, categoricalAttributes, keyStringForSeasonality,
                            conquerDataColumns, missingDataTolerance, delimiter=delimiter)

2019-12-23 10:25:53,133 - 4605388224 - INFO - All columns after feature engineering and before dropping any: ['leaddays', 'arrival_month', 'arrivaldate_weekday', 'lang_id', 'channel_id', 'arrivaldate_weekday_weekend', 'arrivaldate_weekday_midweek', 'arrivaldate_weekday_earlyweek']

In [17]:
dataAfter_1stProcessing.head(10)

,leaddays,arrival_month,arrivaldate_weekday,lang_id,channel_id,arrivaldate_weekday_weekend,arrivaldate_weekday_midweek,arrivaldate_weekday_earlyweek
0,104,2,sunday,1,1,0,0,1
1,66,1,monday,1,13,0,0,1
2,42,1,monday,1,13,0,0,1
3,42,1,monday,1,13,0,0,1
4,39,1,monday,1,13,0,0,1
5,49,1,wednesday,1,13,0,1,0
6,17,1,friday,1,12,1,0,0
7,13,1,monday,1,13,0,0,1
8,16,1,wednesday,1,13,0,1,0
9,7,1,tuesday,1,13,0,1,0

In [18]:
othersGroup, dataAfter_2ndProcessing = getOthersGoup(dataAfter_1stProcessing, categoricalAttributes, 0.001)

In [19]:
dataAfter_2ndProcessing.head(10)

,leaddays,arrivaldate_weekday_weekend,arrivaldate_weekday_midweek,arrivaldate_weekday_earlyweek,channel_id_6,channel_id_7,channel_id_13,channel_id_1,channel_id_12,channel_id_others,...,arrival_month_6,arrival_month_10,arrival_month_9,arrival_month_12,arrival_month_7,arrival_month_11,arrival_month_8,arrival_month_3,arrival_month_4,arrival_month_2
0,104,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,66,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,42,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,42,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,39,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,49,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,17,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,13,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,16,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,7,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
othersGroup

{'channel_id': [3]}